<div class="row">
  <div class="col-sm-12">
    <img [src]="recipe.imagePath" alt="{{recipe.name}}" class="img-fluid img-thumbnail mt-4" style="max-height: 250px;">
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <h1 class="">{{recipe.name}}</h1>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="dropdown">
      <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
        Manage Recipe
        <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li class="custom-p"><a (click)="onAddToShoppingList()">To ShoppingList</a></li>
        <li class="custom-p"><a (click)="onEditRecipe()">Edit Rcipe</a></li>
        <li class="custom-p" (click)="onDelete()"><a>Delete Recipe</a></li>

      </ul>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    {{recipe.discription}}
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <ul class="list-group">
      <li class="list-group-item"
       *ngFor="let ingredient of recipe.ingredients">
        {{ingredient.name}}-{{ingredient.amount}}
      </li>
    </ul>
  </div>
</div>
